src/main/resources/wsdl/hotels.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8088/hotels" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/hotels" targetNamespace="http://localhost:8080/hotels">
    <wsdl:types>
        <xs:schema xmlns:tns="http://localhost:8088/hotels" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8088/hotels">

            <xs:element name="createHotelRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="rating" type="xs:string"/>
                        <xs:element name="address" type="tns:address"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="createHotelResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getHotelDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getHotelDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="hotelId" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="rating" type="xs:string"/>
                        <xs:element name="address" type="tns:address"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="address">
                <xs:sequence>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element name="postalCode" type="xs:string"/>
                    <xs:element name="addressLines" type="tns:addressLines"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="addressLines">
                <xs:sequence>
                    <xs:element name="exterior" type="xs:string"/>
                    <xs:element name="street" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createHotelRequest">
        <wsdl:part element="sch:createHotelRequest" name="createHotelRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createHotelResponse">
        <wsdl:part element="sch:createHotelResponse" name="createHotelResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHotelDetailsRequest">
        <wsdl:part element="sch:getHotelDetailsRequest" name="getHotelDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHotelDetailsResponse">
        <wsdl:part element="sch:getHotelDetailsResponse" name="getHotelDetailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HotelsPort">
        <wsdl:operation name="createHotel">
            <wsdl:input message="tns:createHotelRequest" name="createHotelRequest">
            </wsdl:input>
            <wsdl:output message="tns:createHotelResponse" name="createHotelResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHotelDetails">
            <wsdl:input message="tns:getHotelDetailsRequest" name="getHotelDetailsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getHotelDetailsResponse" name="getHotelDetailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HotelsPortSoap11" type="tns:HotelsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createHotel">
            <soap:operation soapAction=""/>
            <wsdl:input name="createHotelRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createHotelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHotelDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="getHotelDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getHotelDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HotelsPortService">
        <wsdl:port binding="tns:HotelsPortSoap11" name="HotelsPortSoap11">
            <soap:address location="http://localhost:8088/wsdlfirst"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>