src/main/resources/wsdl/hotels.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8088/hotels" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/hotels" targetNamespace="http://localhost:8080/hotels">
  <wsdl:types>
    <xs:schema xmlns:tns="http://localhost:8088/hotels" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8088/hotels">

    <xs:element name="createHotelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="tns:nonEmptyString"/>
                <xs:element minOccurs="0" name="rating" type="xs:string"/>
                <xs:element name="address" type="tns:addressDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createHotelResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element minOccurs="0" name="rating" type="xs:string"/>
                <xs:element name="address" type="tns:addressDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="rating" type="xs:string"/>
                <xs:element name="address" type="tns:addressDto"/>
                <xs:element name="amenities" type="tns:amenitiesList"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createHotelAmenitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amenities" type="tns:amenitiesList"/>
                <xs:element name="hotelId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createHotelAmenitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amenities" type="tns:amenitiesList"/>
                <xs:element name="hotelId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateHotelAmenitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="amenities" type="tns:amenitiesList"/>
                <xs:element name="hotelId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateHotelAmenitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amenities" type="tns:amenitiesList"/>
                <xs:element name="hotelId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteHotelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="deleteHotelResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelByNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHotelByNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="hotelDetails" type="tns:hotelsByNameResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="hotelsByNameResponse">
        <xs:sequence>
            <xs:element name="hotelId" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="rating" type="xs:string"/>
            <xs:element name="address" type="tns:addressDto"/>
            <xs:element name="amenities" type="tns:amenitiesList"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="addressDto">
        <xs:sequence>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="postalCode" type="xs:string"/>
            <xs:element name="addressLines" type="tns:addressLinesDto"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addressLinesDto">
        <xs:sequence>
            <xs:element name="exterior" type="xs:string"/>
            <xs:element name="street" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="amenitiesList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getHotelByNameResponse">
    <wsdl:part element="sch:getHotelByNameResponse" name="getHotelByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createHotelRequest">
    <wsdl:part element="sch:createHotelRequest" name="createHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelByNameRequest">
    <wsdl:part element="sch:getHotelByNameRequest" name="getHotelByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createHotelAmenitiesRequest">
    <wsdl:part element="sch:createHotelAmenitiesRequest" name="createHotelAmenitiesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateHotelAmenitiesRequest">
    <wsdl:part element="sch:updateHotelAmenitiesRequest" name="updateHotelAmenitiesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteHotelRequest">
    <wsdl:part element="sch:deleteHotelRequest" name="deleteHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteHotelResponse">
    <wsdl:part element="sch:deleteHotelResponse" name="deleteHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateHotelAmenitiesResponse">
    <wsdl:part element="sch:updateHotelAmenitiesResponse" name="updateHotelAmenitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createHotelResponse">
    <wsdl:part element="sch:createHotelResponse" name="createHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createHotelAmenitiesResponse">
    <wsdl:part element="sch:createHotelAmenitiesResponse" name="createHotelAmenitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelDetailsRequest">
    <wsdl:part element="sch:getHotelDetailsRequest" name="getHotelDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelDetailsResponse">
    <wsdl:part element="sch:getHotelDetailsResponse" name="getHotelDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelsPort">
    <wsdl:operation name="getHotelByName">
      <wsdl:input message="tns:getHotelByNameRequest" name="getHotelByNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getHotelByNameResponse" name="getHotelByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHotel">
      <wsdl:input message="tns:createHotelRequest" name="createHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:createHotelResponse" name="createHotelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHotelAmenities">
      <wsdl:input message="tns:createHotelAmenitiesRequest" name="createHotelAmenitiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:createHotelAmenitiesResponse" name="createHotelAmenitiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateHotelAmenities">
      <wsdl:input message="tns:updateHotelAmenitiesRequest" name="updateHotelAmenitiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateHotelAmenitiesResponse" name="updateHotelAmenitiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteHotel">
      <wsdl:input message="tns:deleteHotelRequest" name="deleteHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteHotelResponse" name="deleteHotelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHotelDetails">
      <wsdl:input message="tns:getHotelDetailsRequest" name="getHotelDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getHotelDetailsResponse" name="getHotelDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelsPortSoap11" type="tns:HotelsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHotelByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHotelByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHotelByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="createHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHotelAmenities">
      <soap:operation soapAction=""/>
      <wsdl:input name="createHotelAmenitiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createHotelAmenitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateHotelAmenities">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateHotelAmenitiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateHotelAmenitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHotelDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHotelDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHotelDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelsPortService">
    <wsdl:port binding="tns:HotelsPortSoap11" name="HotelsPortSoap11">
      <soap:address location="http://localhost:8088/wsdlfirst"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>